<h1>ALL Students</h1>

<div id="student-container">
<div class="students-index">
<% @students.each do |student| %>
      <p>First Name: <%= student.first_name() %></p>
      <p>Last Name: <%= student.last_name %></p>
      <p>House: <%= student.house.name %></p>
      <p>Age: <%= student.age %></p>
      <a href="/students/<%=student.id%>/edit">Edit Student</a>
      <a href="/students/<%=student.id%>">Show Student</a>
      <form action="/students/<%= student.id %>/delete" method="post">
        <input type="submit" value="Delete Student"/></form>
      <hr />
<% end %>
</div>
</div>
